
 <app-header></app-header>
 <app-sidenav></app-sidenav>
 <div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="top"> <div class="row t-main">
      <div class="col-sm-6 col-xs-12 t-main-1">
        <h4 class="m-n  t-main1"> Product View List</h4>
      </div>
      <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Leads</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">T-View</li>
            
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color:red;">Leads View List</li>
          </ol>
        </nav>
      </div>
    </div>
</div>
<!-- <div class="col-sm-12 text-right" style="padding: 10px;"> 
    <a  href="assets/bl_product_masters.csv" download="Sample"> <i class="fa fa-download " aria-hidden="true" style="margin: 3px;"></i> Sample File </a>
    <b onclick="$('#file').click()" style="cursor: pointer;" class="button"> <i class="fa fa-upload " aria-hidden="true" style="margin: 3px;"></i> Import Product </b>
    <input accept=".csv,.xls,.xlsx" type="file"  encType="multipart/form-data" class="form-control " (change)="onFileChange($event)" placeholder="Uplode your Company Logo" id="file" formControlName="attach_file" style="font-size:12px; border-right:0px;display: none;" >
</div> -->
<div class="col-sm-12" style="padding-top: 10px;">
        
       
    <table datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
      <thead class="l-head">
          <tr>
            <th>Created by</th>
            <th>Company</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Action</th>
          
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of gridData ">
            <td >
              
              <div style="color: red;">{{data.type}}</div>
           
            

            </td>

          
           
          </tr>

         
        </tbody>
    </table>
          
        
        </div>  
            


  </div>
  </div>

  <!-- <div class="dropdown open">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       <span class="fa fa-cog"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a ><i class="fa fa-pencil-square-o text-info" aria-hidden="true"> Edit</i></a></li>
       
    </div>
</div> --><p>product-view works!</p>
