<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<style>
  .main-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .main-bg .leftContent img {
    width: 25%;
  }

  .main-bg .leftContent h3 {
    font-size: 50px;
    font-weight: 700;
    color: #111;
    margin: 18px 0;
    position: relative;
  }

  .main-bg .leftContent h6 {
    font-size: 30px;
    font-weight: 400;
    color: #111;
  }

  .leftContent .icon-img img {
    width: 100%;
    position: relative;
    left: -260px;
    width: 200px;
    width: 200px;
    top: -40px;
  }

  .trooLogoSec {
    display: flex;
  }

  .leftContent .trooLogoSec .troo-Logo img {
    width: 270px;
    padding-right: 1.3rem;
  }

  .trooLogoSec {
    margin-top: 5rem;
  }

  .information {
    border-left: 2px solid rgb(153, 151, 151);
  }

  .information ul {
    list-style-type: none;
    padding-left: 1.5rem;
  }

  .information ul li {
    font-size: 12px;
  }

  .copyright {
    background: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    border: 1px solid #b3b3b3;
    margin-top: 40px;
    width: 70%;
  }

  .copyright p {
    margin-bottom: 0;
    color: #6c6b6b;
    font-size: 13px;
  }

  .RightContent .logo img {
    width: 100%;
  }

  .logo {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
  }

  .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .loginForm {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

  .loginForm .login h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0px;
    color: #111;
  }

  .loginForm p {
    color: #4b4b4b;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  .loginForm .loginField .form-control {
    height: 45px;
    margin-top: 15px;
    color: #212529;
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;

  }

  .loginForm .loginField .form-control:focus {
    color: #212529;
    background-color: #f3f3f3;
    border-color: none;
    outline: 0;
    box-shadow: none;
  }

  .RememberForgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  .RememberForgot p {
    margin-top: 0;
  }

  .Remember .form-check-input:focus {
    border-color: #bdbcbc;
    outline: 0;
    box-shadow: none;
  }

  .Remember input[type=checkbox] {
    margin: -1px 3px 0px;
    vertical-align: middle;
  }

  .LoginBTN {
    width: 100%;
    background: #F2221F;
    border-radius: 7px;
    border: none;
    color: #fff;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
  }

  .LoginBTN:hover {
    background: #af110e;
  }

  .loginForm h6 {
    margin-top: 15px;
  }

  .loginForm h6 span a {
    color: #F2221F;
  }

  .customBtn {
    font-size: 13px;
    background: #fff;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
  }

  @media only screen and (max-width: 768px) {
    .leftContent {
      display: none;
    }

    .logo {
      width: 20rem;
      margin: 0px auto;
    }

    .loginForm {
      width: 90%;
      margin: 10px auto;
    }
  }
</style>

<body>
  <!-- content1 -->
  <section class="main-bg">
    <div class="main-bg-con">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="leftContent">
              <img src="assets/asset/img/Group458.png">
              <div class="row">
                <div class="col-lg-10">
                  <h3>Welcome Back</h3>
                  <h6>Experience the all new digital<br> transformation experience</h6>

                </div>
                <div class="col-lg-2">
                  <div class="icon-img">
                    <img src="assets/asset/img/Group560.png" alt="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-8">
                  <div class="trooLogoSec">
                    <div class="troo-Logo">
                      <img src="assets/asset/img/red.png" alt="">
                    </div>
                    <div class="information">
                      <ul>
                        <li class="d-flex"><i class="fas fa-exclamation-circle"
                            style="margin: 5px 10px 0 0;"></i>info@troology.com</li>
                        <li class="d-flex"><i class="fas fa-question-circle" style="margin: 5px 10px 0 0;"></i>
                          Support@troology.com</li>
                        <li class="d-flex"><i class="fas fa-headset" style="margin: 5px 10px 0 0;"></i>1800 11 123</li>
                        <li class="d-flex"><i class="fas fa-globe" style="margin: 5px 10px 0 0;"></i>www.troology.com
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
              <div class="copyright">
                <p>COPYRIGHT © 2021 TROOLOGY TECHNOLOGIES .ALL RIGHTS RESERVED</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="RightContent">
              <div class="row">
                <div class="col-lg-6">
                  <div class="logo">
                    <img src="assets/asset/img/colour-logo-.png" alt="">
                  </div>
                </div>
              </div>

              <div class="loginForm">
                <div class="login">
                  <h3>Log In</h3>
                  <img src="assets/asset/img/Iconmaterial-security.png" alt="">
                </div>
                <p>This is secure system and you will need to provide your login details to access.</p>

                <div class="loginField">

                  <form [formGroup]="checkoutForm">
                    <div class="mb-3 form-group">
                      <input type="text" [readonly]="this.active" class="form-control" id="username"
                        placeholder="Username" formControlName="email">
                    </div>
                    <div class="form-group" *ngIf="displaypassword && display">
                      <input type="password" class="form-control " placeholder="Password" formControlName="password"
                        (keydown)="keyDownFunction($event)">
                    </div>
                    <div class="form-group" *ngIf="displayotp && display">
                      <input type="number" class="form-control " placeholder="otp" formControlName="otp">
                    </div>
                    <!-- <div class="RememberForgot">
                      <div class="Remember">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Remember Me
                          </label>
                        </div>
                      </div>
                      <p><a href="#">Forgot Password</a></p>
                    </div> -->

                    <div class="col-md-6" style="padding-left: 0px;" *ngIf="!display">
                      <button type="submit" (click)="CheckEmail('password')" class="btn-block customBtn">
                        Login Via Password
                      </button>
                      <button hidden [swal]="['yeahhh!', 'clicked ', 'success']">Click me</button>
                    </div>

                    <div class="col-md-6" style="padding-left: 0px;" *ngIf="display && displaypassword">
                      <button type="button" (click)="SubmitLogin();" class="btn-block customBtn">
                        Submit
                      </button>
                    </div>
                    <div class="col-md-6" style="padding-left: 0px;" *ngIf="display && displayotp">
                      <button type="button" (click)="SubmitOtp();" class="btn-block customBtn">
                        Submit Otp
                      </button>
                    </div>
                  </form>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>
