<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="top"> <div class="row t-main">
      <div class="col-sm-6 col-xs-12 t-main-1">
        <h4 class="m-n  t-main1"> Contact View List</h4>
      </div>
      <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main" style="cursor: pointer;">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Contact</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color: red;">Contact View List</li>

          </ol>
        </nav>
      </div>
    </div></div>

 </div>


<div class="col-sm-12">
  <button class="button" *ngIf="this.userPermission.contactcreate"> <a routerLink="/create-contact">Create New
      Contact</a></button>

  <div class="table-responsive panel pd">

    <table class="panel panel-default table table-dark nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Contact Name</th>
          <th>Company Name</th>
          <th>Mobile</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ss of this.conData">
          <td>{{ ss.account_id }}</td>
          <td>{{ ss.contact_name }}</td>
          <td>{{ss.company_name}}</td>
          <td>{{ss.mobile_no}} </td>
          <td><a  href="/edit-contact/{{ss.contact_id}}" class="btn btn-xs btn-info"  *ngIf="this.userPermission.contactedit"><i class="fa fa-edit"></i></a></td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
 </div>
