h1{
    text-align: center;
}

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        .well {
            padding: 0px 19px;
            /* background: #eaf7ff; */
        }

        .topBox {
            padding: 19px;
            background: #E27777;
            color: #fff;
        }

        .text-end {
            text-align: end;
        }

        .well table {
            margin-bottom: 10px;
        }

        .headding {
            width: 100%;
              margin-bottom: 0;
              background: #7a7a7a;
              color: #fff;
              padding: 1px;
              border: 1px solid #bebebe;
              border-radius: 5px 5px 0px 0px;
              text-align: center;
        }
        .headding h4 {
              padding: 10px 10px 0px 10px;
        }

        table tr td {
            padding: 8px;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            font-size: 13px;
            width: 100%;
            table-layout: fixed;
        }

        td,
        th {
            border: 1px solid rgb(167, 163, 163);
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f3f2f2;
        }
        table thead tr {
            background-color: #f3f2f2 !important;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

.t-main {
  height: 50px;
}

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
