 <app-header></app-header>
 <app-sidenav></app-sidenav>
 <div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="top"> <div class="row t-main">
      <div class="col-sm-6 col-xs-12 t-main-1">
        <h4 class="m-n  t-main1"> Account View List</h4>
      </div>
      <div class="col-sm-6 text-right poppins">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb t-main" style="cursor: pointer;">
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;" routerLink="/">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;">Account</li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size:11px;color: red;"> Account View List</li>

          </ol>
        </nav>
      </div>
    </div></div>



  </div>
  <div class="col-sm-12">
    <button *ngIf="this.userPermission.accountcreate" class="button text-right"> <a routerLink="/create-account">Create New
        Account</a></button>

      <div class="table-responsive panel pd">
        <kendo-grid [kendoGridBinding]="accData" [pageSize]="15" [pageable]="true" [sortable]="true" [sort]="sort"
          [reorderable]="true" [resizable]="true" [height]="620" [filterable]="true">
          <kendo-grid-column field="account_id" title="ID" [width]="200">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
              <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                <div class="customer-name">{{ column.account_id }}</div>
              </kendo-grid-string-filter-cell>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="account_owner" title="A/c Owner" [width]="200">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
              <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                <div class="customer-name">{{ column.account_owner }}</div>
              </kendo-grid-string-filter-cell>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="company_name" title="Company Name" [width]="200">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
              <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                <div class="customer-name">{{ column.company_name }}</div>
              </kendo-grid-string-filter-cell>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="email" title="E-Mail" [width]="200">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
              <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                <div class="customer-name">{{ column.email }}</div>
              </kendo-grid-string-filter-cell>
            </ng-template>
          </kendo-grid-column>
        <kendo-grid-column field="mobile_no" title="Mobile" [width]="200">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
              <div class="customer-name">{{ column.mobile_no }}</div>
            </kendo-grid-string-filter-cell>
          </ng-template>
        </kendo-grid-column>

          <kendo-grid-column field="company_name" title="Action" [width]="200" [filterable]="false" >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">
                <a *ngIf="this.userPermission.accountedit" class="btn btn-xs btn-info" href="/edit-account/{{dataItem.account_id}}"><i
                  class="fa fa-edit"></i></a></div>
            </ng-template>
          </kendo-grid-column>

        </kendo-grid>


      </div>

</div>
  </div>
